// SCSS Variable's
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Montserrat', sans-serif;

$color-primary:#ddb180;
$color-secondary:#090909;
$color-gray:#7b7b7b;
$color-gray-soft:#f0efef;
$color-black:#000000;
$color-white:#ffffff;